.teamMembers{
    flex: 3;
}

.teamTitle{
    text-align: center;
    margin-bottom: 30px;
    font-size: 38px;
    color: rgb(57,80,108);
}

.userProfile{
    background-color: rgb(57,80,108);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.teamTable{
    font-size: 18px !important;
    margin-left: 10px;
}